<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <handlers>
            <add name="Python FastCGI" 
                 path="*" 
                 verb="*" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\Progra~1\PYTHON~1\python.exe|C:\Progra~1\PYTHON~1\Lib\SITE-P~1\wfastcgi.py" 
                 resourceType="Unspecified" 
                 requireAccess="Script" />
        </handlers>

        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" />
            </requestFiltering>
        </security>

        <fastCgi>
            <application fullPath="C:\Progra~1\PYTHON~1\python.exe"
                         arguments="C:\Progra~1\PYTHON~1\Lib\SITE-P~1\wfastcgi.py"
                         activityTimeout="600"
                         requestTimeout="600"
                         instanceMaxRequests="10000">
                <environmentVariables>
                    <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\theoracle" />
                    <environmentVariable name="WSGI_HANDLER" value="app.app" />
                </environmentVariables>
            </application>
        </fastCgi>

    </system.webServer>
</configuration>